@tailwind base;
@tailwind components;

.headroom {
  @apply left-0 right-0 top-0 z-20;
  @apply transition-all duration-200 ease-in-out;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

.headroom--scrolled {
  @apply bg-white shadow;
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.sticky-track {
  position: absolute;
  inset: 0px 0px 0px calc(50% + 48px);
  clip-path: inset(0px round 8px 0px 0px 8px);
  padding: 450px 0px 0px;
  z-index: 1;
}

.sticky-track-bg {
  @apply absolute inset-0;
}

.sticky-track-bg-inner {
  @apply sticky top-0 h-screen w-full overflow-hidden;
}

.sticky-track-bg-inner:before {
  content: "";
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 75vh;
  left: 0;
  margin: -1000px;
  opacity: 0.5;
  background: radial-gradient(
    circle,
    var(--ts-brand) 0%,
    var(--ts-bg-muted) 100%
  );
  border-radius: 50%;
  -webkit-mask-image: radial-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0) 50%
  );
}
.sticky-track-bg-inner:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #e5e7eb;
}

@tailwind utilities;

@layer base {
  :root {
    --ts-background: 0% 0% 100%;
    --ts-bg-muted: 210, 20%, 98%;
    --ts-brand: 221, 39%, 11%;
    --ts-brand-emphasis: 0, 0%, 20%;
    --ts-brand-text: 0, 0%, 100%;
    --ts-text-emphasis: 221, 39%, 11%;
    --ts-text: 217, 19%, 27%;
  }

  .dark {
    --ts-background: 240 10% 3.9%;
    --ts-bg-muted: 0, 0%, 11%;
    --ts-brand: 0, 0%, 100%;
    --ts-brand-text: 0, 0%, 0%;
    --ts-brand-emphasis: 0, 0%, 88%;
    --ts-text-emphasis: 220, 14%, 96%;
    --ts-text: 0, 0%, 84%;
  }
}
